/* Загальні стилі для всього документа */
 body {
       background: url('пустеля.jpg') no-repeat center;
       background-size: cover;
       background-attachment: fixed;
       height: 100vh;

       font-family: Verdana, Arial, sans-serif;
       background-color: rgba(255, 255, 255, 0.2); /* Білий колір з 20% прозорістю */
       background-blend-mode: overlay;

 }


html, body {
       height: 100%;
}

* {
    max-width: 100%;
    overflow-wrap: break-word;
    margin: 0; /* CSS Reset */
    padding: 0;
    box-sizing: border-box;

}


.container {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        min-height: 100vh;

}

.headcontainer {
        display: flex;
        place-items: center;
        justify-content: center;
        align-items: center;
        position: fixed;
        margin: 0;
        padding: 0;
        width: 100%;
        margin-bottom: 20px;
        height: 65px;

}



main * {
  margin-bottom: 20px;
}

/* Стиль для заголовка сторінки */
h1 {
        text-align:center;
        color: hsl(39, 100%, 50%);
        font-size: 15px;
}

/* Стиль для nav */
nav {
        color: hsl(39, 100%, 50%);
        height: 100%;
        font-size: 20px;

}

/* Стиль для nav ПК версія */
.nav-first ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Встановлює горизонтальне розташування елементів */
    gap: 60px; /* Відступи між пунктами меню */
}

.nav-first ul li {
    display: inline-block; /* Встановлює горизонтальне відображення пунктів */
}

.nav-first ul li a {
    text-decoration: none;
    color: hsl(39, 100%, 50%);
    font-size: 30px;
}

/* Зміна кольору при наведенні, якщо посилання не активне */
.nav-first ul li a:hover:not(.active) {
  background-color: rgba(255, 99, 71, 0.8);
}

/* Виділення активного пункту меню */
.nav-first ul li a.active {
  background-color: rgba(255, 99, 71, 0.5);
}

/* Стиль для nav ПК версія */



img {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;

}



table, th, td {

        border: 1px solid black;
        border-collapse: collapse;
        background-color: rgba(255, 99, 71, 0.8);
        padding: 10px;
        text-align:center;
}

tr:hover {background-color: rgba(40, 79, 51, 1);}

a:hover {
    text-decoration: underline;
}

/* Стиль для footer */
footer {
        display: flex;
        background-color:black;
        margin-top: auto;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 100px;

}

/* Стиль для кнопки в footer*/
button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;

}

button:hover {
    background-color: #218838;
}


/* Сховати меню за замовчуванням  */
#nav-menu {
    display: none;
    background-color: LightGray;
    width: 100%;
    z-index: 10;
    height: 200px;


}



#nav-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;

}

/* Стилі для кнопки "гамбургер" */
.menu-button {
    font-size: 30px;
    cursor: pointer;
    display: none;
    text-align: right;
    color: hsl(39, 100%, 50%);
    padding-right: 10px;

}


/* Стилі для чат-бота */
#toggle-chat {
    position: fixed;
    bottom: 120px;
    right: 50px;
    border-radius: 10px;
}

/* Стилі для чат-бота */
#chat { border: 1px solid #ddd; padding: 10px; height: 200px; overflow-y: auto; width: 240px;}
#userInput { padding: 10px; width: 80%; margin-bottom: 10px;}
#chat-button { padding: 10px; width: 80%; margin-bottom: 10px;}

/* Стилі для чат-контейнера */
#chat-container {
    display: none;

}

#chat-container.show {
    display:flex;
    border: 1px solid #ddd;
    background-color:white;
    border-radius: 10px;
    width: 300px;

    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 170px;
    right: 50px;
}

/* Відображати кнопку і приховувати меню на мобільних пристроях 918 */
@media (max-width: 768px) {
    .menu-button {
        display: block;
    }

    #nav-menu.hidden {
        display: none;

    }

    #nav-menu.visible {
        display: flex;
            justify-content: center;
            align-items: center;


    }

    #main-menu-2  {
        display: none
    }

    header {
        height: 90px;
    }
}

